*
{
    padding: 0px;
    margin:0px
}
a
{
    text-decoration: none;
    color: black;
    padding: 15px;
    font-size: 20px;
}

header
{
    display: flex;
    min-height: 70px;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

.logo
{
    display: flex;
    align-items: center;
}

.logo img
{
    height: 150px;
    margin-right: 10px;
}

h2
{
    font-size: 50px
}
span
{
    color: #1822ac;
}
nav a
{
    font-weight: 600;
    padding-right: 10px;
}
nav a:hover
{
    color:#1822ac;

    }

.contenedor
{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    width: auto;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}


.img2
{
    text-align: center;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}


.btn
{
font-size: 50px; 
text-align: center; 
padding: 100px;
background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.btn_h h3
{
    text-align: center;
    font-size: 40px;
    padding-top: 250px; 
    padding-bottom: 50px;
    text-decoration: underline;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.btn_h p
{
    text-align: center;
    font-size: 25px;
    color: black;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.redes
{
    height: 1%;
    display: inline;
}

.inicio 
{
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); ;
    text-align: center;
}

.inicio p
{
    padding-top: 20px;
    font-size: 50px;
}


/* 2do framework*/ 

.cuerpo2
{
    text-align: center;
    padding-top: 10px;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    
}
.cuerpo2 h2
{
    padding-bottom: 5px;
    
}
.cuerpo2 h3
{
    padding: 10px;
    text-align: center;
    font-size: 3em;
}
.cuerpo2 p
{
    font-size: 20px;
    padding-bottom: 10px;
    color: black;
}
.cuerpo2 img
{
 border-radius: 40px;
 padding: 25px;
 
}
.grupo__1
{
    margin: auto;
    text-align: center;
    padding: 10px;
    background-image: linear-gradient(-20deg, #e9defa 50%, #fbfcdb 60%);
}

.grupo__1 h2
{
    text-align: center;
    font-size: 3em;
    padding: 20px;
    text-decoration: underline;
}
.grupo__1 figure
{
    align-items: center;
}
.grupo__1 figure img
{
    height: 450px;
    padding: 20px;
    border-radius: 30px;
    cursor:pointer;
    transition: all 400ms ease;
}
.grupo__1 figure img:hover
{
    height: 500px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.grupo__1 h4
{
    font-size: 1.5em;
    font-weight: 100;
    line-height: 1.2;
}
.grupo__1 p
{
    font-size: 1.4em;
    padding: 10px;
    color: #1822ac;
}
.grupo__1 a
{
    background-color:black;
    color: #fff;
    border-radius: 20px;
    padding: 10px;
    line-height: 1.2;
    cursor: pointer;
}
.grupo__1 a:hover
{
    color: #efefef;  
}
















































 /*footer */ 



.pie-pagina
{
    width: 100%;
    background-color: #0a141d;
}

.pie-pagina .grupo-1
{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img
{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2
{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p 
{
    color: #efefef;
    margin-bottom: 10px ;
}
.pie-pagina .grupo-1 .red-social a
{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover
{
color: aqua;
}

.pie-pagina .grupo-2
{
    background-color: #010301;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small
{
    font-size: 15px;
}

@media (max-width:600px){

    header
    {
        padding: 5px 
    }
    .logo 
    {
        display: none;
    }
    nav a {
        padding: 10px;
    }
    .btn h3{
        font-size: 50px;
    }
    .inicio img{
        height: 400px;
    }
    .img2 img{
        height: 350px;
    }
  .btn_h{
    font-size: small;
    }  
    .box img{
        display: none;
    }

    .box h2{
    display: none;
}
    .box p{
        display: none;
    }
    .red-social
    {
        align-items: center;
        
    }
    .red-social{
        display: none;
    }
    }
 





















    